<h1>Event</h1>

<table class='table'>
  <thead>
    <th>Name</th>
    
    <th colspan=3>Actions</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
      
        <td><%= link_to "Show", event_path(event) %></td>
        <td><%= link_to "Edit", edit_event_path(event) %></td>
        <td>
          <%= link_to "Delete", event_path(event),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New event", new_event_path %>