<div id="<%= dom_id ingredient_sauce %>" class="scaffold_record">
  <p>
    <strong>Necessary:</strong>
    <%= ingredient_sauce.necessary %>
  </p>

  <p>
    <strong>Sauce:</strong>
    <%= ingredient_sauce.sauce_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= ingredient_sauce.ingredient_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= ingredient_sauce.notes %>
  </p>

</div>
