<h1>Paste/Sauces - Matrix2 reloaded</h1>
<% 
	@pastas = Pasta.all
	@sauces = Sauce.all
	$show_photos = false
	
%>
<table border="3" cellspacing="5" cellpadding="5" >
 <tr>
		<th>PASTA - Sauces -&gt;</th>
	<% @pastas.each{ |p| %>
 		<th cellspacing="2" cellpadding="5" > 
						<%= pasta_photo(p) if $show_photos %>
						<%= link_to( " #{p} ",p) %> 
		</th>
	<%	} %>
 </tr>
<% @sauces.each{ |s| %>
	<tr>
		<td>
			<%= sauce_photo(s) if $show_photos %>
			<b><%= link_to( s.to_html,s) %></b></td>
		<% @pastas.each{ |p| %>
			<td><%= cell_pasta_sauce(p,s) %></td>
		<%	} %>
	 </tr>
<%	} %>
</table>