<div id="<%= dom_id pasta_sauce %>" class="scaffold_record">
  <p>
    <strong>Appropriate:</strong>
    <%= pasta_sauce.appropriate %>
  </p>

  <p>
    <strong>Vote:</strong>
    <%= pasta_sauce.vote %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= pasta_sauce.notes %>
  </p>

  <p>
    <strong>Pasta:</strong>
    <%= link_to pasta_sauce.pasta,pasta_sauce.pasta %>
  </p>

  <p>
    <strong>Sauce:</strong>
    <%= link_to pasta_sauce.sauce,pasta_sauce.sauce %>
  </p>

</div>
