<div id="<%= dom_id pasta_sauce %>" class="scaffold_record">
  <p>
    <strong>Appropriate:</strong>
    <%= pasta_sauce.appropriate %>
  </p>

  <p>
    <strong>Vote:</strong>
    <%= pasta_sauce.vote %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= pasta_sauce.notes %>
  </p>

  <p>
    <strong>Pasta:</strong>
    <%= pasta_sauce.pasta_id %>
  </p>

  <p>
    <strong>Sauce:</strong>
    <%= pasta_sauce.sauce_id %>
  </p>

</div>
