<div id="<%= dom_id pasta %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= pasta.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pasta.description %>
  </p>

  <p>
    <strong>Wikipedia:</strong>
    <!-- 🕮📖-->
     📖 <%= link_to pasta, pasta.wikipedia_link  %>
  </p>


  <p>
    <strong>Compatible Sauces:</strong>
    <% pasta.sauces.each do |sauce| %>
       <li> <%= sauce %></li>
    <% end %>
  </p>

</div>
