<h1>
  <%= image_tag 'pastas.png', :height => 200 %>
  Types of Pasta</h1>

<table class='table'>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>

    <th colspan=3>Actions</th>
  </thead>
  <tbody>
    <% @pastas.each do |pasta| %>
      <tr>
        <td><%= link_to "#{pasta.emoji} #{pasta.name}",pasta %></td>
        <td><%= pasta_wikipedia_link(pasta) %></td>
        <td><%#= pasta.active %></td>

        <td><%= link_to "Show", pasta_path(pasta) %></td>
        <td><%= link_to "Edit", edit_pasta_path(pasta) %></td>
        <td>
          <%= link_to "Delete", pasta_path(pasta),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New pasta", new_pasta_path %>
