<h2>🍝 <%= @pasta %></h2>

<%= render @pasta %>

<div>
  <%= link_to "Edit", edit_pasta_path(@pasta) %> |
  <%= link_to "Destroy", pasta_path(@pasta),
    "data-turbo-method": :delete,
    "data-turbo-confirm": "Are you sure?" %> |
  <%= link_to "Back to pasta", pasta_path %>
</div>
