    <div class="container bg-white border pb-3">
      <%= render :partial => "layouts/model_links" %>
      <div class="alert alert-warning" >
        <%= image_tag 'logo.png', class: 'img-fluid' %>
        <b><%= FANCY_APP_NAME %></b>
        v<b><%= APP_VERSION rescue :NoAppVersion %></b>
        (<%= ENV_EMOJI %><%= ENV.fetch 'RAILS_ENV', :NoRailsEnvWtf %>)
        @ 💻 <tt><%= Socket.gethostname %></tt>
        😺 <tt><a href="https://github.com/palladius/pasta" >palladius/pasta</a></tt>
      </div>
      <div class="alert alert-primary" >
        <%= ENV.fetch 'DESCRIPTION', 'No ENV[DESCRIPTION] provided 😌'  %><br/>
        <%= ENV.fetch 'MESSAGGIO_OCCASIONALE', 'No ENV[MESSAGGIO_OCCASIONALE] provided 😌'  %>
      </div>
    </div>
