<li class="nav-item me-4">
  <%= link_to "ðŸ¡ Home", root_path, class: 'nav-link' %>
  <%= link_to "ðŸ Pastas", pastas_path, class: 'nav-link' %>
  <%= link_to "ðŸ… Sauces", pasta_sauces_path, class: 'nav-link' %>
  <%= link_to "ðŸ Ingredients", ingredients_path, class: 'nav-link' %>
  <%= link_to "ðŸ… Ingredient Sauces", ingredient_sauces_path, class: 'nav-link' %>
  <% if user_signed_in? %>
    <%= link_to "ðŸ«¡ Logout", destroy_user_session_path, class: 'nav-link'  %>
    <%= link_to "ðŸ’£ Destroy", cancel_user_registration_path, class: 'nav-link'  %>

  <% else %>
    <%= link_to "âž• SignUp", new_user_registration_path, class: 'nav-link' %>
    <%= link_to "ðŸšª Login", user_session_path, class: 'nav-link' %>
  <% end %>
</li>

<%#= render :partial => "layouts/model_links" %>
<!--
  destroy_user_session_path     =>  '/auth/logout'
  user_session_path             =>  '/auth/login'
  new_user_registration_path    =>  '/auth/register/signup'
  cancel_user_registration_path =>   /auth/register/cancel

-->
