<!-- <h4>inizio REMOVEME </h4> -->
<!-- https://stackoverflow.com/questions/6646845/customizing-devise-views-in-rails -->
  <div class="field">💛
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username"  %>
  </div>
  <div class="field">💛
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name"  %>
  </div>

    <div class="field">💛
    <%= f.label :likes %><br />
    <%= f.text_field :likes, autofocus: true, autocomplete: "likes", size: 40  %>
  </div>
    <div class="field">💛
    <%= f.label :dislikes %><br />
    <%= f.text_field :dislikes, autofocus: true, autocomplete: "dislikes", size: 40  %>
  </div>
<!--
<h4>dine</h4>
-->
